use guix --ad-hoc python python-virtualenv python-twine
layout python3

# Manual Testing
#
# python setup.py install
# python -m pip install ipython
# ipython

# Upload to Pypi
#
# python setup.py sdist bdist_wheel
# twine upload dist/*

# Cleanup
#
# git clean -xdf
